**/node_modules

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# System Files
.DS_Store
Thumbs.db


# Coverage directory used by tools like istanbul
metricfy-db/coverage
metricfy-db/.nyc_output


